body{
	//background-color: #E8E0A3;
}


.itemTitle{
	font-size:39px;
}

.itemDescription {
	font-size: 20px;

}

.itemActions{
	float: right;
	/*width: 20%;*/
	text-align: right;
	font-size: 10px;
	list-style: none;
	/*margin-top: 5%;*/
}

.itemDetails{
	padding-left:10%;
	margin-top:5%;
	clear:both;
	list-style: none;
}

.locationDiv{
	float: left;
}

.itemList{
	border: 1px;
	overflow: hidden;
	background-color: #E8B0A3;
	border-radius: 10px;
	padding: 10px;
	margin: 4px;
}
}
.itemListSelected {
	background-color: #E8B0A3;
	color: antiquewhite;
	border: 2px;
	border-radius: 15px;
}

.itemListNotSelected {
	background-color: #8CC7A3;
	border: 2px;
	border-radius: 15px;
}

.itemList:hover {
	cursor: pointer;
}

.itemList>.words{
	float:left;
	max-width: 80%
}

.itemList>.actions{
	float:right;
}

ul.menu{
	list-style:none;
}

.detailsWrapper{
	float:left;
	align-content:center;
	width:50%;
}

.listWrapper{
	float:left;
	align-content:center;
	width:30%;
}
.detailsTitle{
	padding: 0px 10px 15px 45px;

}

.pageTitle{
	padding-bottom: 50px;
}

.actionsDiv{
	width: 10%;
	float: right;
}
.actionIcon{
	/*display: inline;*/
}
.actionIcon>i{
	font-size: 15px;

}
.actionIcon:hover{
	cursor: pointer;
}



.sub-nav{
	/*border-bottom: solid 1px;*/
	float: left;
}
.sub-nav>div{
	margin: 5px;
	float: left;
}