<md-dialog>
    <md-toolbar>
        <h4 style="padding-left:3%">Add New Location</h4>
    </md-toolbar>
   <md-content class="md-padding">
    <form name="locationForm">
        <md-input-container flex class="dialogForms">
            <label>Name</label>
            <input ng-model="loc.name" placeholder="Name">
        </md-input-container>
        <md-input-container flex class="dialogForms">
            <label>Description</label>
            <input ng-model="loc.description" placeholder="Description">
        </md-input-container>
        <div layout layout-sm="column">
            <md-input-container flex class="dialogForms">
                <label>Longitude</label>
                <input ng-model="loc.longitude" id="loc.longitude" placeholder="Longitude">
            </md-input-container>
            <md-input-container flex  class="dialogForms">
                <label>Latitude</label>
                <input ng-model="loc.latitude" id="loc.latitude" placeholder="Latitude">
            </md-input-container>
            <md-button ng-click="populatePosition()" class="md-button" ng-show="populateLocationVisible">Get Current Location</md-button>
            <md-progress-circular md-mode="indeterminate" ng-hide="populateLocationVisible"></md-progress-circular>
        </div>
        <div layout="row">
            <md-button ng-click="answer(loc)"  class="md-primary">
                Save
            </md-button>
        </div>
       </form>
</md-content>
</md-dialog>

