<div  ng-controller="locationCtrl">
	<div class="pageTitle">
		<!--<h1 >Locations</h1>-->
		<div class="sub-nav">
			<div ng-click="divToDisplay='new'"> <i class="fa fa-plus-circle"> </i> New </div>
			<div > | </div>
			<div ng-click="divToDisplay='list'"> <i class="fa fa-list"> </i> List</div>
		</div>
		<!--<span ng-click="openModal('sm')"> <i class="fa fa-location-arrow"> </i> New </span>-->
	</div>
	<div class="clearfix"></div>

<div style="clear:both;width:80%">

	<edit-location div-to-display="divToDisplay" ng-show="divToDisplay == 'new'"></edit-location>
	<location-list editing="editing" ng-show="divToDisplay=='list'"></location-list>
	<div>
	<location-details editing="editing" location="selectedItem" ng-show="divToDisplay=='list'"></location-details>
	</div>
</div>
</div>
