<div class="usersDiv entityWrapper" ng-controller="userCtrl">

	<!--<div class="pageTitle">-->

	<!--<div ng-show="divToDisplay=='new'" ng-include="'tpl/userForm.html'">-->

	<!--</div>-->
	<!--<ul class="userDiv">-->
		<!--<li class="userLi" ng-repeat="user in users"  ng-show="true">-->
	<md-tabs md-selected="selectedIndex" class="tng-tabs">
		<md-tab ng-repeat="user in users" ng-disabled="tab.disabled" label="{{user.name}}" class="">
			<div class="tng-tab tab{{$index%4}} tab-content" layout="column" layout-fill layout-align="space-around">
				<h2>{{user.name}}</h2>
				<div>{{ 'EMAIL' | translate }}: {{user.email }}</div>
				<div>{{ 'MEMBER SINCE' | translate }}: {{user.joinDate | date:'medium'}}</div>
			</div>

			<div class="listWrapper">
				<!--<div ng-repeat="user in users" class="itemList" ng-show="true" ng-class="{'itemListSelected': $index==selectedItem, 'itemListNotSelected': $index!=selectedItem }" ng-click="selectItem($index)">-->
					<!--<div class="words">
						<div>{{user.fname}} {{user.lname}}</div>
						<div>{{user.email}}</div>
					</div>-->
					<!--<hr />-->
					<section>
						<md-content style="height: 300px; width: 80%">
							<div class="table-responsive-vertical shadow-z-1">
								<!-- Table starts here -->
								<table id="table" st-safe-src="rowCollection" class="table table-striped">
									<thead>
									<TR>
										<TH>{{ 'WHEN' | translate }}</TH>
										<TH>{{ 'WHERE' | translate }}</TH>
										<TH>{{ 'ACTIVITY' | translate }}</TH>
										<TH>{{ 'COMMENTS' | translate }}</TH>
									</TR>
									</thead>
									<tr>
										<!--<th colspan="4"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>-->
									</tr>
								<tr ng-repeat="activity in activities" ng-show="activity.userKey==user.$id">
									<td>{{formatDate(activity.timestamp)}}</td>
									<td>Longitude: {{activity.longitude}}
										<br />
										Latitude: {{activity.latitude}}
										<br/>
										<a href="https://www.google.co.il/maps/@{{activity.latitude}},{{activity.longitude}},17z" target="map">Map</a>
									</td>
									<td>{{locationArray.$getRecord(activity.locationKey).name}}</td>
									<td>{{activity.comments}}</td>

								</tr>

								</table>
						<!--<md-list>
							<md-item ng-repeat="activity in activities" ng-show="activity.userKey==user.$id">
								<md-item-content>
									<div class="md-tile-content">
										<div style="float:left">
											<h2>Where:</h2>
											<h3>Longitude: {{activity.longitude}}
												<br /> Latitude: {{activity.latitude}}
												<br /> <a href="https://www.google.co.il/maps/@{{activity.latitude}},{{activity.longitude}},17z" target="map">Map</a>
											</h3>
										</div>
										<div style="float: left;">
											<h2>When:</h2>
											<h4>{{formatDate(activity.timestamp)}}</h4>
										</div>
										<div style="float:left">
											<h2>Activity</h2>
											<h4>{{locationArray.$getRecord(activity.locationKey).name}}</h4>
										</div>
										<div style="float:left;">
											<h2>Comments</h2>
											<p>{{activity.comments}}</p>
										</div>
									</div>
								</md-item-content>
							</md-item>
						</md-list>-->
						</md-content>
					</section>
				</div>
		 </md-tab>
	</md-tabs>

	</div>

</div>